<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="./images/logo.ico">
    <title>Lobby</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/bootstrap.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery-ui.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.sticky.js"></script>
    <script src="./js/main-lobby.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="./fonts/icomoon/style.css">

    <link rel="stylesheet" href="./css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="./css/style-lobby.css">


</head>
<body style="background-color: #f6f7fc;">
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">


            <div class="site-logo">
              <a href="/" class="text-black"><span class="text-primary">DaMa-ngani</a>
            </div>

            <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">

                <ul class="site-menu main-menu  d-lg-block">
                  <li><a href="/" class="nav-link">Log Out</a></li>
                </ul>
              </nav>

            </div>
          </div>
        </div>

      </header>

    <div class="container-fluid centra" ng-app="myApp" ng-controller="giocatori">
        <div class="row" style="text-align: center;">
            <div class="col" >

                <div class="card text-left" style="width:300px; margin-top: 40px; margin-left: auto; margin-right: auto;">
                    <div class="card-body">
                      <h4 class="card-title">Username: <b>{{utente.username}}</b></h4>
                      <p class="card-text">Partite giocate: <b>{{utente.partiteGiocate}}</b></p>
                      <p class="card-text">Vittorie: <b>{{utente.vittorie}}</b></p>
                      <p class="card-text">Percentuale vittorie: <b>{{utente.vittorie / utente.partiteGiocate * 100}} % </b></p>
                    </div>
                </div>
            </div>
            <div class="col" style="border-left: 1px solid; margin-top: 40px; ">
                <h1 style="text-align: center; margin-bottom: 30px;">Utenti Online: </h1>
                <div ng-repeat="g in giocatori">
                    <div class="row">
                        <div class="col" style="text-align: left; padding-left: 30px;">
                            <h2>•{{g.username}} </h2>
                        </div>
                        <div class="col" style="text-align: center;">
                            <button ng-if="idInInviti(g.id) == true" class= "btn btn-success player" id="{{g.id}}" ng-click="invitoAccettato(g.id)"> accetta invito </button>  
                            <button ng-if="idInInviti(g.id) == false"class= "btn btn-info player" id="{{g.id}}" ng-click="inviaSfida(g.id)">  invita </button>
                        </div>
                    </div>
                    
                </div>
            </div>



        </div>


    </div>

    <script>

        var app = angular.module('myApp', []);
        let scope = "";
        app.controller('giocatori', function($scope, $http)
                                    {
                                        scope = $scope;
                                        $scope.giocatori = {};
                                        $scope.bottoni = [];
                                        $scope.socket = io();
                                        $scope.lista = [];
                                        $scope.id = getCookie("id");
                                        $scope.utente = "VOID";
                                        $scope.idInviti = [];

                                        sendReady($scope.socket, $scope.id);

                                        $scope.socket.on("mainUser", (utente) => {
                                            $scope.utente = utente;
                                            $scope.$apply();
                                        })

                                        $scope.socket.on("addUser", (data) => { 
                                            if(data.id != $scope.id)
                                                $scope.giocatori[data.id] = {username: data.username, 
                                                                            id: data.id};
                                            $scope.$apply();
                                        })
                                        
                                        $scope.socket.on("deleteUser", (id) => {
                                            delete $scope.giocatori[id];
                                            $scope.$apply();
                                        })

                                        $scope.socket.on("richiestaSfida", (senderId) => {
                                            $scope.idInviti.push(senderId);
                                            $scope.$apply();
                                        });



                                        $scope.socket.on("passaAlGioco", (idGioco) => {
                                            setCookie("idGioco", idGioco);
                                            setTimeout(() => {  
                                                            setCookie("id", $scope.id);
                                                            window.location = "game.html";
                                                            }, $scope.id * 2000/4);
                                        });


                                        $scope.invitoAccettato = function(senderId){
                                            let ids = {
                                                    sender: senderId,
                                                    friend: $scope.id
                                                }
                                            $scope.socket.emit("sfidaAccettata", ids)
                                            $scope.$apply();
                                        }

                                        $scope.inviaSfida = function(friend){
                                            //invio sfida
                                            let ids = {
                                                sender : $scope.id,
                                                friend : friend
                                                }
                                            $scope.socket.emit("invioSfida", ids);
                                        }

                                        $scope.idInInviti = function(id){
                                            return id in $scope.idInviti;
                                        }

                                    });

    function creaListaBottoni(giocatori){
        let lista = [];
        for(id in giocatori){
            lista.push(giocatori)

        }
    }                            
    function sendReady(socket, id){
        socket.emit("lobbyReady", id);
    }   

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>

</body>
</html>